.wave_container {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    text-align: center;
}

.wave_container img {
    width: 100vw;
}

.wave_text_container {

    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: black;
    width: 75%;

    display: grid;
    justify-items: center;

    grid-gap: 75px;

}

.margin_top{
    margin-top: 100px;
}

.margin_top .wave_text_container{
    padding-bottom: 100px;
}