.font_book_main {
    display: flex;
    justify-content: center;

    position: relative;
    text-align: center;
    margin-bottom: 200px;
}

.font_book_main .text_container {
    position: absolute;
    top: 46%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    white-space: pre-wrap;
}
.font_book_main .text_container .title{
    font-size: 40px;
}

.font_book_main img {
    border: 5px solid brown;
    border-radius: 15px;
    transition: all .3s;
    max-width: 100%;

}

.font_book_main img:hover {
    -webkit-box-shadow: -1px 1px 5px 9px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: -1px 1px 5px 9px rgba(0, 0, 0, 0.4);
    box-shadow: -1px 1px 5px 9px rgba(0, 0, 0, 0.4);
}