.image_main{
    max-width: 100%;
    border-radius: 15px;
    margin-bottom: 30px;
}

.border_image{
    border : 1px solid black;
    text-align : center;
    border-radius: 15px;
}
.image_container{
    text-align:  center;
    max-width: 80%;
    margin-top: 10%;
}

.image_container .legend_image{
    margin-bottom : 25px
}